<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="icon" href="../images/favicon.png" sizes="48x48">
    <link rel="apple-touch-icon" sizes="256x256" href="../images/favicon-2x.png">
    <title>Ríki:layout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <style>

      div, body, input, select { font-family: "Noto Sans", sans-serif; }
      nav .nav-wrapper { max-width: 992px; margin: 0 auto; padding: 0 20px; }
      nav .sidenav-toggle { padding: 0 20px; margin-left: -20px; position: absolute; bottom: 0; }
      nav ul li:last-child { margin-right: -20px; }

      header nav { overflow: hidden; height: 640px; position: relative; }
      header .logo-wrapper div { position: absolute; background-repeat: no-repeat; background-size: 100%; }
      #header-background-icon {
        bottom: 334px; left: calc(50% - 41px); width: 83px; height: 86px;
        background-image: url('../images/icon.svg');
      }
      #header-background-modules {
        bottom: 290px; left: calc(50% - 93px); width: 187px; height: 172px;
        background-image: url('../images/modules.svg');
      }
      #header-background-name {
        bottom: 196px; left: calc(50% - 93px); width: 187px; height: 67px;
        background-image: url('../images/name.svg');
      }
      #header-background-subtitle {
        bottom: 170px; left: calc(50% - 93px); width: 187px; height: 20px;
        background-image: url('../images/subtitle.svg');
      }
      header ul { position: relative; top: calc(640px - 64px); }

      .navbar-fixed { position: absolute; top: 0px; display: none; }

      nav .brand-logo.left { position: absolute; top: 0; left: 0; height: 100%; width: 374px; }
      nav .brand-logo.left div { position: absolute; background-repeat: no-repeat; background-size: 100%; }
      #logo-icon {
        bottom: 16px; left: 10px; height: 32px; width: 31px;
        background-image: url('../images/icon.svg');
      }
      #logo-name {
        bottom: 16px; left: 52px; height: 32px; width: 90px;
        background-image: url('../images/name.svg');
      }
      #logo-subtitle {
        bottom: 12px; left: 164px; height: 20px; width: 187px;
        background-image: url('../images/subtitle.svg');
      }

      @media only screen and (max-width: 992px) {
        nav .brand-logo.left { left: 64px; }
      }

      @media only screen and (max-width: 600px) {
        nav .brand-logo.left { width: 160px; }
        #logo-subtitle { display: none; }
        nav ul li.icon a { height: 56px; width: 64px; padding: 0 20px }
        nav .icon-text { display: none; }
        /*.navbar-fixed { display: block !important; }*/
        header ul { top: calc(100% - 56px); }
      }

    </style>
  </head>
  <body>

<!-- Header -->
<header>
  <nav class="teal darken-1">
    <div class="nav-wrapper">
      <div class="logo-wrapper">
        <div id="header-background-icon"></div>
        <div id="header-background-modules"></div>
        <div id="header-background-name"></div>
        <div id="header-background-subtitle"></div>
      </div>
      <a href="#" data-target="mobile-demo" class="sidenav-toggle left hide-on-large-only"><i class="material-icons">menu</i></a>
      <ul class="right">
        <li class="icon"><a class="btnLogin"><i class="material-icons left">account_circle</i><span class="icon-text"> Login / Signup</span></a></li>
      </ul>
      <div class="account">

      </div>
    </div>
  </nav>
</header>

<!-- Toolbar -->
<div class="navbar-fixed">
  <nav class="teal darken-1">
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-toggle left hide-on-large-only"><i class="material-icons">menu</i></a>
      <a href="/home" class="brand-logo left"><div id="logo-icon"></div><div id="logo-name"></div><div id="logo-subtitle"></div></a>
      <ul class="right">
        <li class="icon"><a class="btnLogin"><i class="material-icons left">account_circle</i><span class="icon-text"> Login / Signup</span></a></li>
      </ul>
      <div class="account">

      </div>
    </div>
  </nav>
</div>

<!-- Navigation -->
<!-- Content -->
<div style="height:2000px;"></div>
<!-- Footer -->

<!-- JS sources -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script>
  // scroll
  (function($, w, d, u) {
      // $ = jQuery, w = window, d = document, u = undefined
      $(d).ready(function() {
          let heightOfLargeHeader = $('body > header').height();
          let heightOfSmallHeader = $('.navbar-fixed').height();
          let headerAnimationEnd = heightOfLargeHeader - heightOfSmallHeader;

          let headerIcon = $('#header-background-icon');
          let headerModules = $('#header-background-modules');
          let headerName = $('#header-background-name');
          let headerSubtitle = $('#header-background-subtitle');
          let logoIcon = $('#logo-icon');
          let logoName = $('#logo-name');
          let logoSubtitle = $('#logo-subtitle');
          let iconRatio = logoIcon.width()/headerIcon.width();
          $('.navbar-fixed').show();
          let offset = $('.navbar-fixed .sidenav-toggle').is(':visible') ? 64 : 0;
          let scrollAnimations = [
              {
                  from: 0,
                  to: 200,
                  before: [
                      {
                          element: headerIcon,
                          styles: {
                              left: '',
                              width: '',
                              height: '',
                              top: '',
                          }
                      },
                      {
                          element: headerModules,
                          styles: {
                              opacity: '1',
                              left: '',
                              width: '',
                              height: '',
                          }
                      },
                      {
                          element: headerName,
                          styles: {
                              left: '',
                              width: '',
                          }
                      },
                      {
                          element: headerSubtitle,
                          styles: {
                              left: '',
                          }
                      },
                  ],
                  during: [
                      {
                          element: headerIcon,
                          vars: {
                              left: [headerIcon.position().left, offset + logoIcon.position().left],
                              width: [headerIcon.width(), logoIcon.width()],
                              height: [headerIcon.height(), logoIcon.height()],
                              top: [headerIcon.position().top, headerIcon.position().top + iconRatio*44 + iconRatio*headerModules.height()]
                          },
                          styles: {
                              left: '%left%px',
                              width: '%width%px',
                              height: '%height%px',
                              top: '%top%px',
                          }
                      },
                      {
                          element: headerModules,
                          vars: {
                              left: [headerModules.position().left, offset + logoIcon.position().left - iconRatio*52],
                              width: [headerModules.width(), iconRatio*headerModules.width()],
                              height: [headerModules.height(), iconRatio*headerModules.height()],
                          },
                          styles: {
                              opacity: '%i%',
                              left: '%left%px',
                              width: '%width%px',
                              height: '%height%px',
                          }
                      },
                      {
                          element: headerName,
                          vars: {
                              left: [headerName.position().left, offset + logoName.position().left],
                              width: [headerName.width(), logoName.width()],
                          },
                          styles: {
                              left: '%left%px',
                              width: '%width%px',
                          }
                      },
                      {
                          element: headerSubtitle,
                          vars: {
                              left: [headerSubtitle.position().left, logoSubtitle.is(':visible') ? offset + logoSubtitle.position().left : $('body > header').width()],
                              opacity: [1, logoSubtitle.is(':visible') ? 1 : 0]
                          },
                          styles: {
                              left: '%left%px',
                              opacity: '%opacity%'
                          }
                      },
                  ],
                  after: [
                      {
                          element: headerIcon,
                          styles: {
                              left: offset + logoIcon.position().left + 'px',
                              width: logoIcon.width() + 'px',
                              height: logoIcon.height() + 'px',
                          }
                      },
                      {
                          element: headerModules,
                          styles: {
                              opacity: '0',
                          }
                      },
                      {
                          element: headerName,
                          styles: {
                              left: offset + logoName.position().left + 'px',
                              width: logoName.width() + 'px',
                          }
                      },
                      {
                          element: headerSubtitle,
                          styles: {
                              left: logoSubtitle.is(':visible') ? offset + logoSubtitle.position().left + 'px' : $('body > header').width() + 'px',
                              opacity: logoSubtitle.is(':visible') ? '1' : '0',
                          }
                      },
                  ],
              },
              {
                  from: 200,
                  to: headerAnimationEnd,
                  before: [
                      {
                          element: headerName,
                          styles: {
                              top: '',
                          }
                      },
                      {
                          element: headerSubtitle,
                          styles: {
                              top: '',
                          }
                      },
                      {
                          element: $('div.navbar-fixed'),
                          styles: {
                              display: 'none',
                          },
                      },
                      {
                          element: $('body header'),
                          styles: {
                              opacity: '1'
                          },
                      },
                  ],
                  during: [
                      {
                          element: headerIcon,
                          vars: {
                              top: [headerIcon.position().top + iconRatio*44 + iconRatio*headerModules.height(), logoIcon.position().top + headerAnimationEnd],
                          },
                          styles: {
                              top: '%top%px',
                          }
                      },
                      {
                          element: headerName,
                          vars: {
                              top: [headerName.position().top, logoName.position().top + headerAnimationEnd],
                          },
                          styles: {
                              top: '%top%px',
                          }
                      },
                      {
                          element: headerSubtitle,
                          vars: {
                              top: [headerSubtitle.position().top, logoSubtitle.position().top + headerAnimationEnd],
                          },
                          styles: {
                              top: '%top%px',
                          }
                      },
                      {
                          element: $('div.navbar-fixed'),
                          styles: {
                              display: 'none',
                          },
                      },
                      {
                          element: $('body header'),
                          styles: {
                              opacity: '1'
                          },
                      },
                  ],
                  after: [
                      {
                          element: $('div.navbar-fixed'),
                          styles: {
                              display: 'block',
                          },
                      },
                      {
                          element: $('body header'),
                          styles: {
                              opacity: '0'
                          },
                      }
                  ],
              },
          ];
          $('div.navbar-fixed').hide();
          console.log(scrollAnimations);

          let applyStyles = function applyStyles(definition, p) {
              let v, vars = {
                  p: p,
                  i: Math.abs(p - 1),
              };

              if (definition.vars) {
                  let start, end, diff, current;
                  for (v in definition.vars) {
                      [start, end] = definition.vars[v];
                      // if (typeof start === 'function') {
                      //     start = start();
                      // }
                      // if (typeof end === 'function') {
                      //     end = end();
                      // }
                      diff = Math.abs(end - start);
                      current = p * diff;
                      vars[v] = start > end ? start - current : start + current;
                  }
              }

              if (definition.element && definition.styles) {
                  let style, value;
                  for (style in definition.styles) {
                      value = definition.styles[style];
                      for (v in vars) {
                          value = value.split('%' + v + '%').join(vars[v]);
                      }
                      definition.element.css(style, value);
                  }
              }
          };

          $(w).scroll(function() {
              let st = d.documentElement.scrollTop || d.body.scrollTop;

              let p, elements, j, i = scrollAnimations.length;
              while (i--) {
                  elements = [];
                  if (st <= scrollAnimations[i].from) {
                      p = 0;
                      elements.push.apply(elements, scrollAnimations[i].before || []);
                  } else if (st >= scrollAnimations[i].to) {
                      p = 1;
                      elements.push.apply(elements, scrollAnimations[i].after || []);
                  } else {
                      p = (st - scrollAnimations[i].from) / (scrollAnimations[i].to - scrollAnimations[i].from);
                      elements.push.apply(elements, scrollAnimations[i].during || []);
                  }
                  j = elements.length;
                  while (j--) {
                      applyStyles(elements[j], p);
                  }
              }
          }).scroll();

          w.setTimeout(function() {
              let st = d.documentElement.scrollTop || d.body.scrollTop;
              if (st < 100) {
                  $(w).scrollTo(headerAnimationEnd, 1000);
              }
          }, w.location.href.match(/^https?:\/\/[a-z-.]+\/(home?)$/) ? 10000 : 5000);
      });
  }(jQuery, window, document))
</script>

  </body>
</html>
