<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="icon" href="../images/favicon.png" sizes="48x48">
    <link rel="apple-touch-icon" sizes="256x256" href="../images/favicon-2x.png">
    <title>Ríki:layout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <style>

      body, input, select { font-family: "Noto Sans", sans-serif; }
      nav .nav-wrapper { max-width: 1280px; margin: 0 auto; padding: 0 20px; }
      nav .sidenav-toggle { padding: 0 20px; margin-left: -20px; position: absolute; bottom: 0; }
      nav .sidenav-toggle .close-icon { display: none; }
      nav ul li:last-child { margin-right: -20px; }
      .sidenav-overlay { top: 64px; }
      .sidenav { top: 64px; width: 248px; }
      .tabs .tab a:focus, .tabs .tab a:focus.active { background-color: rgba(0, 137, 123, 0.1); }
      .tabs .indicator { background-color: #00897b; }
      label.label-icon.right { left: auto; right: 0; }

      .container { max-width: 1280px; width: 100%; }
      .main.container { margin-top: 24px; }
      #right-col { padding: 0 0 0 0.75rem; }
      /*#right-col > .card:first-child { margin-top: 0; }*/
      /*#left-col > .card:first-child { margin-top: 0; }*/
      #left-col { width: 100%; max-width: 1280px; position: absolute; z-index: 2; }
      #left-col-wrapper { margin-right: calc(75% + 1.5rem); }
      #left-col .nav { margin-top: 24px; }
      #left-col .nav li { height: 48px; line-height: 48px; font-size: 14px; font-weight: 500; }
      #left-col .nav li>a { color: rgba(0,0,0,0.87); display: block; padding: 0 32px;  }
      #left-col .nav li>a>i { float: left; height: 48px; line-height: 48px; margin: 0 32px 0 0; width: 24px; color: rgba(0,0,0,0.54); }

      .card { margin: 0 0 1.5rem 0; }
      .card.search:not(.active) { box-shadow: none; background: none; }
      .card-content.search { padding: 5px 32px; }
      .card-content.search .input-field { margin: 0; }
      .card-content.search .input-field input { padding-right: 28px; box-sizing: border-box; }
      #close-search { position: absolute; top: 0; right: 0; color: #777; display: none; }
      .card.search-result { display: flex; align-items: stretch; }
      .card.search-result .search-area { flex: 0 0 80px; display: flex; justify-content: center; align-items: center; background: #00897b; }
      .card.search-result .material-icons { font-size: 24px; color: #fff; }
      .card.search-result .search-text { flex: 1 1 0; display: block; padding: 8px; overflow: hidden; text-overflow: ellipsis; }
      .card.search-result .search-text h6 { margin-top: 0; }
      .card.search-result .search-text a { white-space: nowrap; }

      header nav { overflow: hidden; height: 640px; position: relative; }
      header .logo-wrapper div { position: absolute; width: 100%; background-repeat: no-repeat; background-size: 100%; }
      #header-background-icon {
        bottom: 334px; left: calc(50% - 41px); width: 83px; height: 86px;
        background-image: url('../images/icon.svg');
      }
      #header-background-modules {
        bottom: 290px; left: calc(50% - 93px); width: 187px; height: 172px;
        background-image: url('../images/modules.svg');
      }
      #header-background-name {
        bottom: 196px; left: calc(50% - 93px); width: 187px; height: 67px;
        background-image: url('../images/name.svg');
      }
      #header-background-subtitle {
        bottom: 170px; left: calc(50% - 93px); width: 187px; height: 20px;
        background-image: url('../images/subtitle.svg');
      }
      header ul { position: relative; top: calc(640px - 64px); }

      .navbar-fixed { position: absolute; top: 0px; display: none; }

      nav .brand-logo.left { position: absolute; top: 0; left: 0; height: 100%; width: 374px; }
      nav .brand-logo.left div { position: absolute; background-repeat: no-repeat; background-size: 100%; }
      #logo-icon {
        bottom: calc(50% - 13px); left: 16px; height: 26px; width: 25px;
        background-image: url('../images/icon.svg');
      }
      #logo-name {
        bottom: calc(50% - 13px); left: 56px; height: 26px; width: 73px;
        background-image: url('../images/name.svg');
      }
      #logo-subtitle {
        bottom: 13px; left: 148px; height: 20px; width: 187px;
        background-image: url('../images/subtitle.svg');
      }

      @media only screen and (max-width: 992px) {
        nav .brand-logo.left { left: 64px; }
        #logo-icon { left: 4px; }
        #logo-name { left: 44px; }
        #logo-subtitle { left: 136px; }
        #right-col { padding: 0; }
        .main.container { margin-top: 8px; }
      }

      @media only screen and (max-width: 600px) {
        nav .brand-logo.left { width: 140px; }
        #logo-subtitle { display: none; }
        nav ul li.icon a { height: 56px; width: 64px; padding: 0 20px }
        .sidenav-overlay { top: 56px; }
        .sidenav { top: 56px; }
        nav .icon-text { display: none; }
        header ul { top: calc(100% - 56px); }
        .card.search-result .search-area { flex-basis: 48px; }
      }

    </style>
  </head>
  <body class="grey lighten-4">

<!-- Header -->
<header>
  <nav class="teal darken-1">
    <div class="nav-wrapper">
      <div class="logo-wrapper">
        <div id="header-background-icon"></div>
        <div id="header-background-modules"></div>
        <div id="header-background-name"></div>
        <div id="header-background-subtitle"></div>
      </div>
      <a href="#" class="sidenav-toggle left hide-on-large-only"><i class="material-icons menu-icon">menu</i><i class="material-icons close-icon">close</i></a>
      <ul class="right">
        <li class="icon"><a class="btnLogin"><i class="material-icons left">account_circle</i><span class="icon-text"> Login / Signup</span></a></li>
      </ul>
      <div class="account">

      </div>
    </div>
  </nav>
</header>

<!-- Toolbar -->
<div class="navbar-fixed">
  <nav class="teal darken-1">
    <div class="nav-wrapper">
      <a href="#" class="sidenav-toggle left hide-on-large-only"><i class="material-icons menu-icon">menu</i><i class="material-icons close-icon">close</i></a>
      <a href="/home" class="brand-logo left"><div id="logo-icon"></div><div id="logo-name"></div><div id="logo-subtitle"></div></a>
      <ul class="right">
        <li class="icon"><a class="btnLogin"><i class="material-icons left">account_circle</i><span class="icon-text"> Login / Signup</span></a></li>
      </ul>
      <div class="account">

      </div>
    </div>
  </nav>
</div>

<!-- Mobile Navigation -->
<ul class="sidenav" id="mobile-nav">
  <li><a href="/home"><i class="material-icons">home</i> Home</a></li>
  <li><a href="/blog"><i class="material-icons">rss_feed</i> Blog</a></li>
  <li><a href="/guide"><i class="material-icons">toc</i> Guide</a></li>
  <li><a href="/docs"><i class="material-icons">library_books</i> Documentation</a></li>
  <li><a href="/exchange"><i class="material-icons">question_answer</i> Exchange</a></li>
</ul>

<!-- Content -->
<div class="main container">
  <div class="row">
    <div class="col l3 hide-on-med-and-down" id="left-col">
      <div id="left-col-wrapper">
        <div class="card search">
          <div class="card-content search">
            <div class="input-field">
              <input type="text" placeholder="Search">
              <label class="label-icon right"><i class="material-icons">search</i></label>
            </div>
          </div>
        </div>
        <ul class="nav">
          <li><a href="/home"><i class="material-icons">home</i> Home</a></li>
          <li><a href="/blog"><i class="material-icons">rss_feed</i> Blog</a></li>
          <li><a href="/guide"><i class="material-icons">toc</i> Guide</a></li>
          <li><a href="/docs"><i class="material-icons">library_books</i> Documentation</a></li>
          <li><a href="/exchange"><i class="material-icons">question_answer</i> Exchange</a></li>
        </ul>
      </div>
    </div>
    <div class="col s12 l9 offset-l3" id="right-col">
      <div class="card search show-on-medium-and-down" style="display: none;">
        <div class="card-content search">
          <div class="input-field">
            <input name="riki-search" id="search" type="text" placeholder="Search">
            <label class="label-icon right"><i class="material-icons">search</i></label>
          </div>
          <a id="close-search" href="#"><i class="material-icons">close</i></a>
        </div>
        <div class="card-tabs" style="display: none">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="teal-text active" href="#search-everywhere">Everywhere</a></li>
            <li class="tab"><a class="teal-text" href="#search-documentation">documentation</a></li>
            <li class="tab"><a class="teal-text" href="#search-exchange">exchange</a></li>
            <li class="tab"><a class="teal-text" href="#search-guide">guide</a></li>
          </ul>
        </div>
        <div class="card-content search-results grey lighten-5" style="display: none">
          <div id="search-everywhere">
            <div class="card search-result">
              <div class="search-area"><i class="material-icons">library_books</i></div>
              <div class="search-text grey-text text-darken-2">
                <h6 class="teal-text">Documentation - Bootstrap</h6>
                <p>... sodales sagittis magna. Sed consequat, leo <b>eget</b> bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero ...</p>
                <a href="/documentation/boostrap">/documentation/bootstrap</a>
              </div>
            </div>
            <div class="card search-result">
              <div class="search-area"><i class="material-icons">toc</i></div>
              <div class="search-text grey-text text-darken-2">
                <h6 class="teal-text">Guide - Bootstrap</h6>
                <p>... sodales sagittis magna. Sed consequat, leo <b>eget</b> bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero ...</p>
                <a href="/guide/boostrap">/guide/bootstrap</a>
              </div>
            </div>
            <div class="card search-result">
              <div class="search-area"><i class="material-icons">question_answer</i></div>
              <div class="search-text grey-text text-darken-2">
                <h6 class="teal-text">Exchange - How do I bootstrap my application?</h6>
                <p>... sodales sagittis magna. Sed consequat, leo <b>eget</b> bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero ...</p>
                <a href="/exchange/2315/how-do-i-bootstrap-my-application">/exchange/2315/how-do-i-bootstrap-my-application</a>
              </div>
            </div>
          </div>
          <div id="search-documentation">
            <div class="card search-result">
              <div class="search-area"><i class="material-icons">library_books</i></div>
              <div class="search-text grey-text text-darken-2">
                <h6 class="teal-text">Documentation - Bootstrap</h6>
                <p>... sodales sagittis magna. Sed consequat, leo <b>eget</b> bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero ...</p>
                <a href="/documentation/boostrap">/documentation/bootstrap</a>
              </div>
            </div>
          </div>
          <div id="search-exchange">
            <div class="card search-result">
              <div class="search-area"><i class="material-icons">question_answer</i></div>
              <div class="search-text grey-text text-darken-2">
                <h6 class="teal-text">Exchange - How do I bootstrap my application?</h6>
                <p>... sodales sagittis magna. Sed consequat, leo <b>eget</b> bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero ...</p>
                <a href="/exchange/2315/how-do-i-bootstrap-my-application">/exchange/2315/how-do-i-bootstrap-my-application</a>
              </div>
            </div>
          </div>
          <div id="search-guide">
            <div class="card search-result">
              <div class="search-area"><i class="material-icons">toc</i></div>
              <div class="search-text grey-text text-darken-2">
                <h6 class="teal-text">Guide - Bootstrap</h6>
                <p>... sodales sagittis magna. Sed consequat, leo <b>eget</b> bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero ...</p>
                <a href="/guide/boostrap">/guide/bootstrap</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title">Lorem Ipsum</span>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.<br><br></p>

          <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.<br><br></p>

          <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.<br><br></p>

          <p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui.<br><br></p>

          <p>Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing.<br><br></p>

          <p>Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque.<br><br></p>

          <p>Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci.<br><br></p>

          <p>Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis<br><br></p>

          <p>Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci.<br><br></p>

          <p>Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis<br><br></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer teal darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright Thomas Flori
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

<!-- JS sources -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script>
  // scroll
  (function($, w, d, u) {
      // $ = jQuery, w = window, d = document, u = undefined
      $(d).ready(function() {
          let heightOfLargeHeader = $('body > header').height();
          let heightOfSmallHeader = $('.navbar-fixed').height();
          let headerAnimationEnd = heightOfLargeHeader - heightOfSmallHeader;

          let headerIcon = $('#header-background-icon');
          let headerModules = $('#header-background-modules');
          let headerName = $('#header-background-name');
          let headerSubtitle = $('#header-background-subtitle');
          let logoIcon = $('#logo-icon');
          let logoName = $('#logo-name');
          let logoSubtitle = $('#logo-subtitle');
          let iconRatio = logoIcon.width()/headerIcon.width();
          $('.navbar-fixed').show();
          let offset = $('.navbar-fixed .sidenav-toggle').is(':visible') ? 64 : 0;
          let scrollAnimations = [
              {
                  from: 0,
                  to: headerAnimationEnd/2,
                  before: [
                      {
                          element: headerIcon,
                          styles: {
                              left: '',
                              width: '',
                              height: '',
                              top: '',
                          }
                      },
                      {
                          element: headerModules,
                          styles: {
                              opacity: '1',
                              left: '',
                              width: '',
                              height: '',
                          }
                      },
                      {
                          element: headerName,
                          styles: {
                              left: '',
                              width: '',
                          }
                      },
                      {
                          element: headerSubtitle,
                          styles: {
                              left: '',
                          }
                      },
                  ],
                  during: [
                      {
                          element: headerIcon,
                          vars: {
                              left: [headerIcon.position().left, offset + logoIcon.position().left],
                              width: [headerIcon.width(), logoIcon.width()],
                              height: [headerIcon.height(), logoIcon.height()],
                              top: [headerIcon.position().top, headerModules.position().top + headerModules.height() - iconRatio*44 - iconRatio*headerIcon.height()], // 311
                          },
                          styles: {
                              left: '%left%px',
                              width: '%width%px',
                              height: '%height%px',
                              top: '%top%px',
                          }
                      },
                      {
                          element: headerModules,
                          vars: {
                              left: [headerModules.position().left, offset + logoIcon.position().left - iconRatio*52],
                              width: [headerModules.width(), iconRatio*headerModules.width()],
                              height: [headerModules.height(), iconRatio*headerModules.height()],
                          },
                          styles: {
                              opacity: '%i%',
                              left: '%left%px',
                              width: '%width%px',
                              height: '%height%px',
                          }
                      },
                      {
                          element: headerName,
                          vars: {
                              left: [headerName.position().left, offset + logoName.position().left],
                              width: [headerName.width(), logoName.width()],
                          },
                          styles: {
                              left: '%left%px',
                              width: '%width%px',
                          }
                      },
                      {
                          element: headerSubtitle,
                          vars: {
                              left: [headerSubtitle.position().left, logoSubtitle.is(':visible') ? offset + logoSubtitle.position().left : $('body > header').width()],
                              opacity: [1, logoSubtitle.is(':visible') ? 1 : 0]
                          },
                          styles: {
                              left: '%left%px',
                              opacity: '%opacity%'
                          }
                      },
                  ],
                  after: [
                      {
                          element: headerIcon,
                          styles: {
                              left: offset + logoIcon.position().left + 'px',
                              width: logoIcon.width() + 'px',
                              height: logoIcon.height() + 'px',
                          }
                      },
                      {
                          element: headerModules,
                          styles: {
                              opacity: '0',
                          }
                      },
                      {
                          element: headerName,
                          styles: {
                              left: offset + logoName.position().left + 'px',
                              width: logoName.width() + 'px',
                          }
                      },
                      {
                          element: headerSubtitle,
                          styles: {
                              left: logoSubtitle.is(':visible') ? offset + logoSubtitle.position().left + 'px' : $('body > header').width() + 'px',
                              opacity: logoSubtitle.is(':visible') ? '1' : '0',
                          }
                      },
                  ],
              },
              {
                  from: headerAnimationEnd/2,
                  to: headerAnimationEnd,
                  before: [
                      {
                          element: headerName,
                          styles: {
                              top: '',
                          }
                      },
                      {
                          element: headerSubtitle,
                          styles: {
                              top: '',
                          }
                      },
                      {
                          element: $('div.navbar-fixed'),
                          styles: {
                              display: 'none',
                          },
                      },
                      {
                          element: $('body header'),
                          styles: {
                              opacity: '1'
                          },
                      },
                      {
                          element: $('#left-col'),
                          styles: {
                              position: 'absolute',
                              top: '',
                          },
                      },
                  ],
                  during: [
                      {
                          element: headerIcon,
                          vars: {
                              top: [headerModules.position().top + headerModules.height() - iconRatio*44 - iconRatio*headerIcon.height(), logoIcon.position().top + headerAnimationEnd],
                          },
                          styles: {
                              top: '%top%px',
                          }
                      },
                      {
                          element: headerName,
                          vars: {
                              top: [headerName.position().top, logoName.position().top + headerAnimationEnd],
                          },
                          styles: {
                              top: '%top%px',
                          }
                      },
                      {
                          element: headerSubtitle,
                          vars: {
                              top: [headerSubtitle.position().top, logoSubtitle.position().top + headerAnimationEnd],
                          },
                          styles: {
                              top: '%top%px',
                          }
                      },
                      {
                          element: $('div.navbar-fixed'),
                          styles: {
                              display: 'none',
                          },
                      },
                      {
                          element: $('body header'),
                          styles: {
                              opacity: '1',
                          },
                      },
                      {
                          element: $('#left-col'),
                          styles: {
                              position: 'absolute',
                              top: '',
                          },
                      },
                  ],
                  after: [
                      {
                          element: $('div.navbar-fixed'),
                          styles: {
                              display: 'block',
                          },
                      },
                      {
                          element: $('body header'),
                          styles: {
                              opacity: '0',
                          },
                      },
                      {
                          element: $('#left-col'),
                          styles: {
                              position: 'fixed',
                              top: '88px',
                          },
                      },
                  ],
              },
          ];
          $('div.navbar-fixed').hide();
          console.log(scrollAnimations);

          let applyStyles = function applyStyles(definition, p) {
              let v, vars = {
                  p: p,
                  i: Math.abs(p - 1),
              };

              if (definition.vars) {
                  let start, end, diff, current;
                  for (v in definition.vars) {
                      [start, end] = definition.vars[v];
                      // if (typeof start === 'function') {
                      //     start = start();
                      // }
                      // if (typeof end === 'function') {
                      //     end = end();
                      // }
                      diff = Math.abs(end - start);
                      current = p * diff;
                      vars[v] = start > end ? start - current : start + current;
                  }
              }

              if (definition.element && definition.styles) {
                  let style, value;
                  for (style in definition.styles) {
                      value = definition.styles[style];
                      for (v in vars) {
                          value = value.split('%' + v + '%').join(vars[v]);
                      }
                      definition.element.css(style, value);
                  }
              }
          };

          $(w).scroll(function() {
              let st = d.documentElement.scrollTop || d.body.scrollTop;

              let p, elements, j, i = scrollAnimations.length;
              while (i--) {
                  elements = [];
                  if (st <= scrollAnimations[i].from) {
                      p = 0;
                      elements.push.apply(elements, scrollAnimations[i].before || []);
                  } else if (st >= scrollAnimations[i].to) {
                      p = 1;
                      elements.push.apply(elements, scrollAnimations[i].after || []);
                  } else {
                      p = (st - scrollAnimations[i].from) / (scrollAnimations[i].to - scrollAnimations[i].from);
                      elements.push.apply(elements, scrollAnimations[i].during || []);
                  }
                  j = elements.length;
                  while (j--) {
                      applyStyles(elements[j], p);
                  }
              }
          }).scroll();

          w.setTimeout(function() {
              let st = d.documentElement.scrollTop || d.body.scrollTop;
              if (st < 100) {
                  $(w).scrollTo(headerAnimationEnd, 500);
              }
          }, w.location.href.match(/^https?:\/\/[a-z-.]+\/(home?)$/) ? 10000 : 2000);

          $('#mobile-nav').sidenav({
              onOpenStart: function() {
                  $('.sidenav-toggle .menu-icon').hide();
                  $('.sidenav-toggle .close-icon').css('display', 'block');
              },
              onCloseStart: function() {
                  $('.sidenav-toggle .menu-icon').css('display', 'block');
                  $('.sidenav-toggle .close-icon').hide();
              },
          });
          $('.sidenav-toggle').click(function(e) {
              let st = d.documentElement.scrollTop || d.body.scrollTop;
              let sidenav = M.Sidenav.getInstance($('#mobile-nav'));

              if (!sidenav.isOpen && st < headerAnimationEnd) {
                  $(w).scrollTo(headerAnimationEnd + 8, 500, function() {
                      sidenav.open();
                  });
                  // w.setTimeout(, 1000);
              } else if (sidenav.isOpen) {
                  sidenav.close();
              } else {
                  sidenav.open();
              }

              return false;
          });

          $('.card-content.search input').focus(function() {
              $('.card.search').addClass('active');
          }).blur(function() {
              if ($(this).val() === '') {
                  $('.card.search').removeClass('active');
              }
          }).on('change', function(e) {
              $('.card-content.search input').not(e.target).val($(e.target).val());
          });


          let $leftSearch = $('#left-col .card.search');
          let $rightSearch = $('#right-col .card.search');
          let $close = $('#close-search');
          let $searchTabs = $rightSearch.find('.card-tabs');
          let $searchResults = $rightSearch.find('.search-results');
          let openTimer = u;
          let search = function search(term) {
              w.setTimeout(function() {
                  $rightSearch.promise().done(function() {
                      $searchTabs.show().find('.tabs').tabs();
                      $searchResults.show();
                  });
              }, 200 + Math.random() * 700);
              $close.show();
          };

          $leftSearch.find('input').keydown(function() {
              let $this = $(this);
              if (openTimer) {
                  w.clearTimeout(openTimer);
              }

              openTimer = w.setTimeout(function() {
                  if ($this.val() === '') {
                      return;
                  }

                  $(w).scrollTo(headerAnimationEnd, 500);

                  // morph left to right search
                  $rightSearch.show();
                  $leftSearch.animate({
                      width: $rightSearch.width(),
                      left: $rightSearch.offset().left - $leftSearch.offset().left,
                      top: -8,
                  }, 500, function() {
                      $leftSearch.css({
                          opacity: 0,
                          left: '',
                          top: '',
                          width: '',
                      });
                      $rightSearch.find('input').val($this.val()).focus();
                  });
                  $rightSearch.hide();
                  $rightSearch.show(500);

                  search($this.val());
                  openTimer = u;
              }, 300);
          });

          $rightSearch.find('input').keydown(function() {
              let $this = $(this);
              if (openTimer) {
                  w.clearTimeout(openTimer);
              }

              openTimer = w.setTimeout(function() {
                  if ($this.val() === '') {
                      return;
                  }

                  $(w).scrollTo(headerAnimationEnd, 500);

                  search($this.val());
                  openTimer = u;
              }, 300);
          });

          $close.click(function() {
              $leftSearch.attr('style', '').find('input').val('');
              $rightSearch.attr('style', 'display: none;').find('input').val('').blur();
              $close.hide();
              $searchTabs.hide();
              $searchResults.hide();
              return false;
          });
      });
  }(jQuery, window, document))
</script>

  </body>
</html>
