<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ríki:layout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>

nav .nav-wrapper { max-width: 992px; margin: 0 auto; padding: 0 20px; }
nav .sidenav-toggle { padding: 0 20px; margin-left: -20px; }

@media only screen and (max-width: 992px) {
  nav .brand-logo.left { left: auto; }
}

    </style>
  </head>
  <body>

<!-- Toolbar -->
<div class="navbar-fixed">
  <nav class="teal darken-2">
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-toggle left hide-on-large-only"><i class="material-icons">menu</i></a>
      <a href="/home" class="left brand-logo">Ríki Logo</a>
      <ul class="right account">
        <li class="hide-on-small-only"><a id="btnMetaInfo"><i class="material-icons left">info</i> Versions</a></li>
        <li><a id="btnLogin"><i class="material-icons left">account_circle</i><span class="hide-on-small-only"> Login / Signup</span></a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- Navigation -->
<!-- Content -->
<!-- Footer -->

<!-- JS sources -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  </body>
</html>
